.history-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .history-card {
    width: 300px;
    margin: 10px;
  }
  
.orders-container {
  padding: 20px;
}

mat-card {
  margin: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
}

.mat-column-price {
  text-align: right;
  padding-right: 20px;
}

.mat-column-purchaseDate {
  text-align: center;
}
  